.bg-green {
    border-radius: 10%;
    margin: 10px;
    background-color: rgb(114, 239, 114);
    text-align: center;
}

.content-center {
    text-align: center;
    /* border: 2px solid black; */
    height: 40px;
    font-size: x-large;
}

.heading {
    background-color: rgb(194, 198, 194);
    /* width: ; */
    height: 60px;
    text-align: center;
}