body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    padding-left: 50px;
    padding-top: 50px;
}

.main-div {
    background: #ffffff;
    width: 800px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

img {
    margin: 10px;
    width: 150px;
    height: 100px;
}

.event-name {
    background-color: #EC4989;
    width: 200%;
    height: 45px;
    margin-left: 30%;
    margin-top: 100px;
    color: #ffffff;
    font-size: xx-large;
    text-align: center;
    padding-top: 10px;
}

.text-color{
    color: #EC4989;
}

.agree {
    margin-top: 285px;
    margin-left: -160px;
}

.side-details {
    background-color: #2B2525;
    color: #fff;
    width: 45%;
    height: 100%;
}
.event-image{
    border-radius: 100%;
    width: 30%;
    margin-left: 120px;
    margin-top: 110px;
}

.details {
    font-size: 22px;
    margin-left: 60px;
}

.details1 {
    margin-top: 30px;
}

.abc {
    color: #cdcaca;
    font-size: 15px;
    margin-left: 60px;
}

.abc1{
    margin-top: -50px;
}