body {
    height: 100%;

}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    z-index: 1;
}

#sub_div {
    text-align: center;
    color: blanchedalmond;
    background-color: rgba(126, 95, 95, 0.477);
    border-radius: 2em;
    padding: 1em;
    border: 4px solid rgb(201, 158, 158);
    position: relative;
    z-index: 3;
    margin: 0 auto;
    max-width: 720px;
    margin-top: 15em;
}

/* 
#cover_video {
    color: blanchedalmond;
    background-color: rgba(126, 95, 95, 0.477);
    border-radius: 2em;
    padding: 1em;
    border: 4px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 1080em;
    margin-top: 10em;
} */