* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: gray;
}

div {
    background: radial-gradient(orange, white);
    border: 0.2em solid black;
    border-radius: 1em;
    width: 25em;
    margin: 0% auto;
    margin-top: 10em;
}

h1 {
    text-align: center;
    margin: 0% auto;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: dashed 3px;
    display: block;

}

input {
    float: right;
}

input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    opacity: 0.8;
}

input[type="checkbox"]:hover+label {
    text-decoration: line-through;
}

label {
    margin-left: 1em;
}

footer {
    height: 1em;
}